<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

    </style>
</head>
<body>
<p>This page for all exceptions, because I do not have more time for it, I have midterms which ones won't wait me</p>
<p>Please do NOT break my project</p>
<p>Or you can try but all exceptions will be caught by my controllers 😊😊😊</p>
<div>
    <a th:href="@{|/events|}">See all events</a>
</div>
</body>
</html>